body {
    background: grey;
    font-family: calibri;
}

#legend {
    width: 60px;
    position: absolute;
    top: 70px;
    left: 28px;
}
.recttxt {
    color: white;
    font-size: 12px;

}

#mainContainer {
    border-radius: 12px;
}
#maintitle{
    z-index: -5;
}

#mapContainer {
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 12px}

#mapTitle {
    position: absolute;
}

#pietitle {
    position: absolute;
    bottom: 280px;
    width: 400px;
    z-index: -3;
}
#percentage {
    width: 90px;
    position: absolute;
    left: 100px;
    top: 65px;
    text-align: center;
    font-size: 75px;
    color: white;
    opacity: 0.3;
    font-weight: bold;
}

svg#map {
	width: 400px;
	height: 630px;
    position: absolute;
    top: 0px;
    /*border: 2px solid white;*/
    border-radius: 12px;
    z-index: 0;
}
#map .land:hover {
    /*fill: yellow;*/
    opacity: 0.5;
    /*z-index: +2;*/
}
#map .land {
    stroke: grey;
    /*stroke-width: 3;*/
}
#map .land:hover{
    stroke: steelblue;
    stroke-width: 3;
}


#pieContainer {
	width: 500px;
	height: 250px;
	/*border: 2px solid white;*/
    border-radius: 12px;
    position: absolute;
    bottom: 300px;
    left: 700px;
    z-index: -3;
}
svg#pie {
    /*border: 2px solid white;*/
    border-radius: 12px;
    position: absolute;
    right: 50px;
    bottom: -70px;
    z-index: +1;
}
#pie path{
    z-index: +5;
}

.crime-label:hover {
    opacity: 0.5;
}
.province-label:hover{
    opacity: 0.5;
    stroke: grey;
    strok-width: 5;
}


#plotContainer {
	width: 500px;
	height: 300px;
	/*border: 2px solid white;*/
    border-radius: 12px;
    position: absolute;
    bottom: 0px;
    left: 420px;
}
#plottitle {
    position: absolute;
    left: 85px;
    top: -180px;
    font-size: 80px;
    color: white;
    opacity: 0.3;
    text-align: justify;
    /*text-shadow: 3px 10px red;*/
}
#plotsubtitle{
    width: 380px;
    position: absolute;
    left: -60px;
    top: -60px;
    font-size: 40px;
    color: white;
    opacity: 0.7;
    text-align: center;   
}
svg#plot {
    /*border: 2px solid white;*/
    height: 200px;
    width: 500px;
    background: grey;
    border-radius: 25px;
    position: absolute;
    top:80px;
    right: 100px;
}
#ylabel {
    color: white;
    position: absolute;
    top:180px;
    left: -135px;
}
#plot path { 
    stroke: lightblue;
    stroke-width: 4;
    fill: none;
}

#plot .axis path,
#plot .axis line {
    fill: none;
    stroke: black;
    stroke-width: 3;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 14px;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#home .dropbtn {
    position: absolute;
    left: 0;
}
#crimebtn {
    position: absolute;
    left: 110px;
    bottom: 0px
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: grey;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    left: 450px;
    display: inline-block;
    z-index: +5;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightgrey}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


#crimeDrop { 
    max-height:180px; 
    overflow-y:scroll; 
}

#slidercontainer {
    position: absolute;
    z-index: -1;
    bottom: 400px;
    left: 350px;
}
svg#slider {
    position: absolute;
    bottom: 0px;
    left: 100px;
    z-index: -5;
}
#slidertitle{
    position: absolute;
    left: 150px;
    bottom: -15px;
    text-align: center;
    font-size: 50px;
    color: white;
    opacity: 0.3;
}
.dropbtn {
    border-radius: 2px;
}

#infoBtn {
    background: grey;
    position: absolute;
    top: 13px;
    left: 13px;
    width: 40px;
    height: 40px;
}
#infobtnheader {
    width: 35px;
    height: 35px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: +6; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 16px;
    background-color: steelblue;
    color: white;
}

.modal-body {padding: 2px 16px;}

#sources {
    font-size: 12px;
}
.infoimg {
    margin: 0px 10px;
}
#plotvalues {
    width: 120px;
    height: 165px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    line-height: 2.5;
    visibility: hidden;
    position: absolute;
    top: 90px;
    right: 60px;
    color: rgba(37, 37, 37, .8);
    font-weight: bold;
}
#plotvalues text {
    color: white;
}