body {
    background: grey;
    font-family: calibri;
}

#mainContainer {
    /*border: 2px solid white;*/
    border-radius: 12px
}
#maintitle{
    z-index: -5;
}

#mapContainer {
    position: absolute;
    /*border: 2px solid white;*/
    border-radius: 12px}

#mapTitle {
    position: absolute;
}

#pietitle {
    position: absolute;
    bottom: 280px;
    width: 400px;
    z-index: -3;
}

svg#map {
	width: 500px;
	height: 630px;
    position: absolute;
    top: 0px;
    /*border: 2px solid white;*/
    border-radius: 12px;
    z-index: -1;
}
#map .land:hover {
    /*fill: yellow;*/
    opacity: 0.5;
    /*z-index: +2;*/
}
#map .land {
    stroke: grey;
    /*stroke-width: 3;*/
}


#pieContainer {
	width: 500px;
	height: 250px;
	/*border: 2px solid white;*/
    border-radius: 12px;
    position: absolute;
    bottom: 300px;
    left: 550px;
    z-index: -3;
}
svg#pie {
    /*border: 2px solid white;*/
    border-radius: 12px;
    position: absolute;
    right: 50px;
    bottom: -70px;
    z-index: -2;
}

.crime-label:hover {
    opacity: 0.5;
}
.province-label:hover{
    opacity: 0.5;
    stroke: grey;
    strok-width: 5;
}


#plotContainer {
	width: 500px;
	height: 300px;
	/*border: 2px solid white;*/
    border-radius: 12px;
    position: absolute;
    bottom: -83px;
    left: 550px;
}
#plottitle {
    position: absolute;
    left: 365px;
    top: 60px;
    font-size: 50px;
    color: white;
    opacity: 0.3;
    text-align: right;
    /*text-shadow: 3px 10px red;*/
}
#plotsubtitle{
    position: absolute;
    width: 500px;
    right: 80px;
    top: 140px;
    font-size: 20px;
    color: white;
    opacity: 0.3;
    text-align: right;   
}
svg#plot {
    /*border: 2px solid white;*/
    background: grey;
    border-radius: 25px;
    position: absolute;
    top:-60px;
    right: 50px;
}
#plot path { 
    stroke: lightblue;
    stroke-width: 4;
    fill: none;
}

#plot .axis path,
#plot .axis line {
    fill: none;
    stroke: black;
    stroke-width: 3;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 14px;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#home .dropbtn {
    position: absolute;
}
#crimebtn {
    position: absolute;
    left: 106px;
    bottom: 0px
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: grey;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: +5;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightgrey}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


#crimeDrop { 
    max-height:180px; 
    overflow-y:scroll; 
}

#slidercontainer {
    position: absolute;
    z-index: +3;
    bottom: 580px;
    left: 130px;
}