body {
    overflow: hidden;
}
svg#map{ 
	float: left;
	/*position: absolute;*/
	height: 750px; 
	width: 650px;
    z-index: -1;
}

#map path { 
	fill: #d3d3d3; 
    /*transition: .6s fill; */
}

#map path:hover { 
	opacity: 0.5; 
}

svg#pie{
	position: relative;
    right: 20px;
    bottom: 350px;
	width: 250px;
	height: 250px;
	border: 3px;
    z-index: -1;
}

#pie path:hover {
    fill: red;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: +5;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


#plot path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

#plot .axis path,
#plot .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
#crimeDrop { 
    max-height:180px; 
    overflow-y:scroll; 
}
svg#plot {
    position: relative;
    top: 330px;
    right: 150px;
    z-index: -1;
}
#pietitle {
    text-align: center;
    position: relative;
    bottom: 330px;
    right: 260px;
    z-index: 1;
}
#maintitle {
    text-align: left;
    position: relative;
    bottom: 340px;
    right: 400px;
    z-index: 1;    
}
#plottitle {
    text-align: left;
    position: absolute;
    bottom: 250px;  
    left: 600px;
}
